In [1]:
import pandas as pd

In [5]:
pd.Series([5,10,15,20,25])

0     5
1    10
2    15
3    20
4    25
dtype: int64

In [6]:
dt=[1,2,3,4,5]
ind=['a','b','c','d','e']

sample=pd.Series(data=dt,index=ind,dtype='int')
sample

a    1
b    2
c    3
d    4
e    5
dtype: int32

In [7]:
dicts={
    'Messi':8,
    'Ronaldo':5,
    'Platini':3
}

pd.Series(data=dicts)

Messi      8
Ronaldo    5
Platini    3
dtype: int64

In [11]:
test=pd.Series(data=dicts,index=['Messi','Platini','Neymar'])
test

Messi      8.0
Platini    3.0
Neymar     NaN
dtype: float64

In [12]:
import numpy as np

In [13]:
lst=np.array([1,5,8.5,4])
srs=pd.array(['w','x','y','z'])

test=pd.Series(data=lst,index=srs)
test

w    1.0
x    5.0
y    8.5
z    4.0
dtype: float64

In [18]:
srs=pd.Series(["hello",45,True,45.5])
srs

0    hello
1       45
2     True
3     45.5
dtype: object

In [19]:
srs[1]

45

In [22]:
print(type(srs[0]))
print(type(srs[1]))
print(type(srs[2]))
print(type(srs[3]))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'float'>

In [23]:
test=pd.Series([2,4,6,8,10,12,14])
test

0     2
1     4
2     6
3     8
4    10
5    12
6    14
dtype: int64

In [36]:
print(test.axes)
print(test.dtype)
print(test.size)
print(test.ndim)
print('')
print(test.head(3))
print(test.tail(3))

[RangeIndex(start=0, stop=7, step=1)]
int64
7
1

0    2
1    4
2    6
dtype: int64
4    10
5    12
6    14
dtype: int64

In [39]:
eg=pd.Series([10,20,30,40,50],index=['d','b','a','c','e'])
eg

d    10
b    20
a    30
c    40
e    50
dtype: int64

In [40]:
print(eg.sort_index())

a    30
b    20
c    40
d    10
e    50
dtype: int64

In [41]:
print(eg.sort_values())

d    10
b    20
a    30
c    40
e    50
dtype: int64

In [45]:
print(eg.isin([40,10]))

d     True
b    False
a    False
c     True
e    False
dtype: bool

In [46]:
eg[eg.isin([40,10])]

d    10
c    40
dtype: int64

In [48]:
eg.values

array([10, 20, 30, 40, 50], dtype=int64)

In [50]:
[ i for i in eg.values ]

[10, 20, 30, 40, 50]

In [51]:
eg.index

Index(['d', 'b', 'a', 'c', 'e'], dtype='object')

In [52]:
eg.items

<bound method Series.items of d    10
b    20
a    30
c    40
e    50
dtype: int64>

In [53]:
eg.items()

In [54]:
list(eg.items())

[('d', 10), ('b', 20), ('a', 30), ('c', 40), ('e', 50)]

In [55]:
for i,j in eg.items():
    print(i,':',j)

d : 10
b : 20
a : 30
c : 40
e : 50

In [56]:
test=pd.Series(['134','169','1.6','88','3.6','145','97'],index=['USD','GBP','INR','AUD','TBT','EUR','CAD'])
test

USD    134
GBP    169
INR    1.6
AUD     88
TBT    3.6
EUR    145
CAD     97
dtype: object

In [58]:
print(test['EUR'])

145

In [60]:
test[1]

C:\Users\Admin\AppData\Local\Temp\ipykernel_3164\1228179102.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  test[1]

'169'

In [62]:
test[1:4]

GBP    169
INR    1.6
AUD     88
dtype: object

In [67]:
test[::-1]

CAD     97
EUR    145
TBT    3.6
AUD     88
INR    1.6
GBP    169
USD    134
dtype: object

In [69]:
test[2:5:1]

INR    1.6
AUD     88
TBT    3.6
dtype: object