In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame({'datapoints':['A','B','C','D','A','B','C','D'],
                'xplot':[5,18,7,14,67,32,6,20],
                'yplot':[67,98,123,97,234,65,199,200]})
df

  datapoints  xplot  yplot
0          A      5     67
1          B     18     98
2          C      7    123
3          D     14     97
4          A     67    234
5          B     32     65
6          C      6    199
7          D     20    200

# Transforming

In [3]:
df1=df.loc[:,'xplot':'yplot']
df1

   xplot  yplot
0      5     67
1     18     98
2      7    123
3     14     97
4     67    234
5     32     65
6      6    199
7     20    200

In [4]:
def normalise(x):
    return (x-x.min())/(x.max()-x.min())

df1.transform(normalise)

      xplot     yplot
0  0.000000  0.011834
1  0.209677  0.195266
2  0.032258  0.343195
3  0.145161  0.189349
4  1.000000  1.000000
5  0.435484  0.000000
6  0.016129  0.792899
7  0.241935  0.798817

In [8]:
df1.loc[1,'xplot']

18

In [7]:
(df.loc[1,'xplot']-df['xplot'].min())/(df['xplot'].max()-df['xplot'].min())

0.20967741935483872

In [10]:
df1.transform(lambda a:np.sin(a))

      xplot     yplot
0 -0.958924 -0.855520
1 -0.750987 -0.573382
2  0.656987 -0.459903
3  0.990607  0.379608
4 -0.855520  0.998817
5  0.551427  0.826829
6 -0.279415 -0.881799
7  0.912945 -0.873297

In [11]:
np.sin(df1.yplot)

0   -0.855520
1   -0.573382
2   -0.459903
3    0.379608
4    0.998817
5    0.826829
6   -0.881799
7   -0.873297
Name: yplot, dtype: float64

# Applying

In [12]:
df.apply(np.sum)

datapoints    ABCDABCD
xplot              169
yplot             1083
dtype: object

In [22]:
df2=df.loc[:,'xplot':'yplot']
df2

   xplot  yplot
0      5     67
1     18     98
2      7    123
3     14     97
4     67    234
5     32     65
6      6    199
7     20    200

In [23]:
df2.apply(np.mean)

xplot     21.125
yplot    135.375
dtype: float64

In [27]:
df2.apply(np.mean,axis=1)

0     36.0
1     58.0
2     65.0
3     55.5
4    150.5
5     48.5
6    102.5
7    110.0
dtype: float64

In [24]:
df2.apply(np.median)

xplot     16.0
yplot    110.5
dtype: float64

In [25]:
df2.apply(np.std)

xplot    19.277172
yplot    61.848479
dtype: float64

In [26]:
df2.apply(np.var)

xplot     371.609375
yplot    3825.234375
dtype: float64

In [29]:
df.groupby('datapoints').apply(np.mean)

datapoints
A    93.25
B    53.25
C    83.75
D    82.75
dtype: float64